div.dashboard-container
  h3 Top 3 Hersteller:
    div(id="barchartStyle", style="width: 600px;")
      canvas#barchart
  script(src="barchart.js")

  h3 Bester Tag:
    div(id="barchart1Style", style="width: 600px;")
      canvas#barchart1
  script(src="barchart1.js")

  h3 Top 3 Schrauben:
    div(id="barchart2Style", style="width: 600px;")
      canvas#barchart2
  script(src="barchart2.js")

div.dashboard-container1
  h3 Umsatz pro Schraubenart pro Monat:
    div(id="barchart3Style", style="width: 600px;")
      canvas#barchart3
  script(src="barchart3.js")

  h3 Hersteller % Anteil:
    div(id="prozentualStyle", style="width: 400px;")
      canvas#prozentual
  script(src="prozentual.js")

  h3 Gesamtumsatz pro Hersteller für einen Monat:
    div(id="barchart4Style", style="width: 600px;")
      canvas#barchart4
  script(src="barchart4.js")